.testimonials-container {
    width:fit-content;
  }
  
  .rules{
    max-width:80%;
    margin: 60px;
  }
  
  .wel-sections {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .wel-sections section {
    min-width: 40%;
    max-width: 45%;
    padding: 15px;
    margin: 10px;
  }

  @media screen and (max-width: 700px) {
    .rules {
      margin: 0px;
    }
    .wel-sections section {
      max-width: none !important;
      width: 100% !important;
      margin-bottom: auto !important;
    }
  }